.gallery {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax($dimension-column, 1fr));
  grid-auto-rows: min-content;
  justify-items: center;
}

.gallery-card {
  border: 3px solid black;
  background: black;
  width: 100%;
}

.gallery-card__link {
  display: block;
}

.gallery-card__image {
  display: block;
  padding: 0.25rem;
  background: white;
  width: 100%;
}

.gallery-card__description {
  color: white;
  padding: 0.25rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $alternative-color-font;
  font-family: 'Noto Sans', sans-serif;
}

.contact {
  padding-bottom: 2rem;
  text-align: center;
  a {
    color: $site-primary-color;
  }
}

.table {
  text-align: center;
  display: grid;
  border-left: 3px solid $site-primary-color;
  border-bottom: 3px solid $site-primary-color;
  border-right: 3px solid $site-primary-color;
  box-shadow: 2px 2px 2px $background-footer;
  font-family: 'Noto Sans', sans-serif;
}

.table thead {
  background: $site-primary-color;
  color: $site-background;
  text-transform: uppercase;
}

.table thead tr {
  display: grid;
}

.table thead th {
  padding: 0.5rem;
  text-align: center;
}

.table tbody {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0.25rem;
  padding: 0.25rem;
}

.table tbody tr {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0.25rem;
  padding: 0.25rem;
  background: $site-secondary-color-two;
}

.table td {
  justify-content: center;
}

.table td:nth-child(2n+1) {
    font-weight: bold;
}

@media (min-width: $breakpoint-xs) {
  .table tbody tr {
    grid-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    background: $site-background;
  }

  .table th {
    grid-column: 1/3;
  }

  .table td {
    padding: 0.5rem;
    background: $site-secondary-color-two;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px 2px $background-footer;
  }

  .table tbody {
    display: grid;
    padding: 0.25rem;
    grid-gap: 0.25rem;
  }

  .table td:nth-child(2n+1) {
    background: $site-secondary-color-one;
  }
}
