.timeline {
  & > li {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-left: 3px solid $site-primary-color;
    & > .section-card {
      margin-bottom: 2rem;
    }
  }
}

.timeline__label {
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  &:before {
    content: '';
    border: 3px solid white;
    background: $site-primary-color;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    color: $site-primary-color;
    position: absolute;
    left: -0.5rem;
    top: 0.5rem;
    font-size: 32px;
  }
}

.timeline__icon {
  width: 50px;
}
