* {
  font-family: 'Noto Sans', sans-serif;
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.rich-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  img {
    max-width: 100%;
  }
}

.font-title {
  font-family: 'Noto Serif', serif;
}

.font-text {
  font-family: 'Noto Sans', sans-serif;
}

.text-center {
  text-align: center;
}
