* {
}

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns:  1fr;
  grid-template-areas:
            "header"
            "menu"
            "breadcrumb"
            "dash"
            "main"
            "footer";
  grid-template-rows: auto auto 30px auto 1fr auto;
  min-height: 100%;
  justify-items: center;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  right: 0;
}

.homepage {
  font-size: 25px;
  font-family: 'Noto Serif', serif;
}

.logo {
  display: grid;
  max-width: 70px;
  height: auto;
  padding: 1rem;
}

.menu {
  justify-content: center;
  padding: 2rem;
  grid-gap: 5rem;
  display: grid;
  grid-template-columns: auto auto;
}


a:link {
  color: #282A2E;
  text-decoration: none;
}

.homepage:visited,
.le_scuole:visited,
.esploratori:visited {
  color: #282A2E;
}

a:hover {
  text-decoration: underline;
}

.breadcrumb ul {
  list-style: none;
  margin-right: 2rem;
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

.breadcrumb li {
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}

.breadcrumb li+li:before {
  color: black;
  content: ">\00a0";
}

.breadcrumb li a {
  text-decoration: none;
  color: black;
}

.breadcrumb li a:visited{
  text-decoration: none;
  color: black;
}

.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}

.dash{
  border: 1px solid lightgrey;
  width: 35%;
  height: 0px;
  margin-bottom: 2rem;
}

.main {
  display: grid;
  align-items: center;
  margin: 1rem;
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  text-align: center;
}

.text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
}
.gallery{
  object-fit: cover;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-area: footer;
  background-color: #505151;
  justify-content: center;
  width: 100%;
}


.footer--link__one:visited,
.footer--link__two:visited {
  color: #FFFFFF
}
.footer--link__one,
.footer--link__two a{
    color: #FFFFFF
}

.footer--information{
  text-align: center;
  left: 50px;
  font-size: 10px;
  margin-top: 10px;
  color: #FFFFFF
}

.footer--link {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  color: #FFFFFF;
}

.footer--link__one,
.footer--link__two {
  margin-top: auto;
}
