html,body{
      height: 100%;
}

body {
  display: grid;
  grid-gap: 10px;
  margin: 0;
  height: 100%;
  grid-template-columns:1fr;
  grid-template-areas:
                 "header"
                 "main"
                 "footer";
  grid-template-rows: 100px 1fr 80px;
  text-align: center;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

header,
footer{
  background-color: lightgrey;
}
