<section class="grid-container">
  <ul class="breadcrumbs">
    <li><%= link_to 'Home', '/index.html', class: 'breadcrumbs__home' %></li>
    <li><%= link_to 'Le scuole', '/le_scuole.html', class: 'breadcrumbs__le-scuole' %></li>
  </ul>
  <%
  list = [
    {
      url: '/scuole/san_giuseppe.html',
      label: 'Scuola dell\'infanzia San Giuseppe',
      image_path: 'example1.jpg',
    },
    {
      url: '/scuole/san_giorgio.html',
      label: 'Scuola dell\'infanzia San Giorgio',
      image_path: 'example2.jpg',
    },
    {
      url: '/scuole/san_vincenzo.html',
      label: 'Scuola dell\'infanzia San Vincenzo',
      image_path: 'example3.jpg',
    },
  ]
  %>

  <% list.each do |item| %>
    <section class="school-card">
      <%= link_to item[:label], item[:url], class: 'link font-title' %>
      <% link_to item[:url] do %>
        <%= image_tag item[:image_path], class: 'cover-image' %>
      <% end %>
    </section>
  <% end %>
</section>
