<section class="school-index">
  <a href="/san_giuseppe.html" class=" school-link">
    <h1>
      Scuola dell'infanzia "San Giuseppe"
    </h1>
  </a>
  <%= image_tag 'example1.jpg', class: 'example1' %>
</section>
<section class="school-index">
  <a href="/san_giorgio.html" class=" school-link">
    <h1>
       Scuola dell'infanzia "San Giorgio"
    </h1>
  </a>
  <%= image_tag 'example2.jpg', class: 'example2' %>
</section>
<section class="school-index">
  <a href="/san_vincenzo.html" class=" school-link">
    <h1>
      Scuola dell'infanzia paritaria "San Vincenzo"
    </h1>
  </a>
  <%= image_tag 'example3.jpg', class: 'example3' %>
</section>
